body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url('../css/backgrond.png');
}

#container {
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #000000;
}


p {
    margin: 10px 0;
    color: #000000;
}

ul, ol {
    padding-left: 20px;
}

ul li, ol li {
    margin-bottom: 10px;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

